* {
    box-sizing: border-box;
    font-family: system-ui, sans serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
}

.logotipo {
    align-self: flex-start;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    max-width: 420px;
}

.titulo {
    font-size: 20px;
    font-weight: 600px;
    line-height: 40px;
    margin-top: 20px;
}

.subtitulo {
    font-size: 14px;
    margin-top: 10px;
}

.usuario,
.senha {
    margin-top: 20px;
    font-size: 16px;
    height: 52px;
    border-radius: 4px;
    border: 1px solid;
    padding: 8px;
}

.link {
    font-size: 16px;
    line-height: 32px;
    font-weight: 600px;
    color: #0a66c2;
    text-decoration: none;
}

.esqueceu__senha {
    margin-top: 10px;
}

.login {
    background-color: #0073b1;
    color: #ffffff;
    border: none;
    border-radius: 28px;
    font-size: 16px;
    font-weight: 600px;
    line-height: 52px;
    margin-top: 16px;
}

.criar__conta {
    margin-top: 20px;
}

footer {
    display: none;
}

@media screen and (min-width: 770px) {
    body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    main {
        width: 416px;
        margin: 0 auto;
    }
    .card {
        border-radius: 8px;
        box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
        padding: 24px 32px 32px 32px;
        margin-top: 20px;
    }
    footer {
        display: flex;
        width: 100%;
        justify-content: space-around;
        max-width: 1110px;
        margin: 10px auto;
        font-size: 12px;
    }
}